.auth__form{
    background: var(--primary-footer);
    padding: 40px;
    border-radius: 15px;
}
.auth__btn {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}
.auth__form p {
    margin-top: 25px;
    color:var(--primary-color2);
}
.auth__form p a{
    color: #dbbbbb;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 5px;
}