.product__details{
    margin-top: 50px;
}
.product__details h2 {
    font-size: 1.4rem;
}
.product__rating span{
   color: #b26420;
}
.product__rating p span {
    color: #b26420;
    font-weight:600 ;
}
.product__price{
    font-size: 1.3rem;
    font-weight: 500;
}
.flap__strip{
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.active__flap{
    font-weight: 500;
}
.flap__content{
    line-height: 30px;
}
.comment__strip ul li p{
    margin-top: 12px;
}
.comment__form{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.comment__form h4{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.form__group input ,.form__group textarea{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
}
.form__group input:focus, .form__group textarea:focus{
    outline: none;
}
.form__group {
    margin-bottom: 25px;
}
.form__group span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #b26420;
    font-size: 1.2rem;
    cursor: pointer;
}
.linked__title{
    font-size: 1.2rem;
    font-weight: 500;
}